 h1{
    font-size: 70px;
    font-family: "Cordia New";
    font-weight: bold ;
  }
  label{
    font-size: 26px;
    font-family: "Cordia New";
    font-weight: 550 ;
  }
  #fromeiei, #fromAirport {
    background-color: lightGray    ;
  }
  button.btn-primary{
    background-color: GoldenRod        ;
    border: 2px solid GoldenRod ;
    font-size: 22px;
    font-family: "Cordia New";
  }
  button.btn-primary:hover {
    background-color: SkyBlue     ;
    border: 2px solid SkyBlue     ;
    text-align: bold;
  }
  body {
    background-color: DarkSeaGreen  ;
  }
  select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: lightGray;
    border-radius: 4px;
  }